{% extends 'base.html' %}

{% block header %}{{pageTitle}}{% endblock %}
{% block title %}Showing Sections{% endblock %}


{% block content %}

<table>
  <tr>
    <th>Section ID</th>
    <th>Course Name</th>
    <th>Course Code</th>
  </tr>
  {% for row in studentList %}
  <tr>
    <td>
      {{row[0]}}
    </td>
    <td>
      {{row[1]}}
    </td>
    <td>
      {{row[2]}}
    </td>
    <td>
      <a href="/student?section_id={{row[0]}}">View Registered Students</a><br />
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}