{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}This is page 1{% endblock %}</h1>
{% endblock %}

{% block content %}
<h1>Lorem Ipsum</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lobortis neque sit amet dapibus eleifend. Nam sit amet semper arcu. Nullam gravida interdum ipsum quis sagittis. Aenean sed posuere nulla. Quisque quis dui dignissim, maximus mi ut, rhoncus lacus. Curabitur quis pulvinar tellus. Aenean quis dignissim nibh. Etiam bibendum ultrices aliquam. Vestibulum laoreet fermentum felis, ut euismod dolor cursus dignissim. Sed nec finibus tortor, rutrum tempus lacus. Duis lobortis sapien eu tristique mollis. Sed ultrices sed odio ac tristique. 
</p>
{% endblock %}