{% extends 'base.html' %}

{% block header %}Page 2{% endblock %}

{% block title %}Lorem Ipsum, part 2{% endblock %}

{% block content %}
<p>
  Mauris vitae dignissim turpis. Quisque in neque ligula. Nunc pulvinar ipsum justo, sed volutpat nisl consequat vel. Mauris at nunc sit amet dolor commodo iaculis eget id elit. Duis id ullamcorper est. Etiam suscipit justo eu augue venenatis pharetra. Nullam id velit at mi maximus ultricies non eu quam. Praesent neque enim, ornare efficitur dictum ultrices, dapibus sed nunc. Maecenas dignissim justo non orci sollicitudin, quis suscipit justo porttitor. Curabitur venenatis aliquam arcu rutrum interdum. Sed ut dolor nibh. Morbi semper vehicula ante, sit amet pharetra tellus. Quisque velit mauris, pulvinar eu consectetur vel, tristique vel dolor. Morbi euismod erat quis velit placerat, et blandit massa pellentesque. 
</p>
{% endblock %}